body {
    background: url(https://cdn.pixabay.com/photo/2018/10/10/10/59/sky-3736952_960_720.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  
  .weather-box {
    border: 3px solid white;
    padding: 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
  }

.app-background {
    transition: background-image 0.5s ease-in-out;
  }